
credentials
*.csv
notebooks/.ipynb_checkpoints/1.0-ie-data-exploration-checkpoint.ipynb
src/__pycache__/__init__.cpython-311.pyc
src/data/__pycache__/__init__.cpython-311.pyc
src/data/__pycache__/process_pipeline.cpython-311.pyc
src/data/__pycache__/processed_data.cpython-311.pyc
notebooks/.ipynb_checkpoints/2.0-ie-base-model-checkpoint.ipynb
src/data/__pycache__/encoder_pipeline.cpython-311.pyc
src/data/__pycache__/feature_selection_pipeline.cpython-311.pyc
notebooks/.ipynb_checkpoints/2.0-ie-base-model-auto-feature-selection-checkpoint.ipynb
*checkpoint*